<% help(:manual_upload) do %>
    <div class="well">
      <h3>Manual upload</h3>
      <p>
        If you wish to manually upload a Travis log.
      </p>

      <p>You have 3 options:</p>
      <ul>
        <li><b>Travis Build number</b> Written at the top of your build page.</li>
        <li><b>URL of a raw Travis log</b> Link to the raw log is located in the upper right corner of the blank log section in a job page.</li>
        <li><b>Raw Travis log text</b> Same as above, except you cut and paste the entire log</li>
      </ul>
    </div>
<% end %>


